/* .amplify-ai-conversation__form__attach {
  display: none;
} */

.ai-message__image {
  max-width: 400px;
  max-height: 400px;
  margin-block: 1rem;
  border-radius: var(--amplify-radii-medium);
}

.ai-message__content > * + * {
  margin-block-start: var(--amplify-space-medium);
}

.amplify-ai-conversation__prompt {
  flex: 1;
}
